<?xml version="1.0"?>
<!--
  ~ Copyright © Reach Digital (https://www.reachdigital.io/)
  ~ See LICENSE.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <metapackpickup>
                <active>0</active>
                <title>Metapack</title>
                <name>Pickup</name>
                <sallowspecific>0</sallowspecific>
                <price>0</price>
                <sort_order>100</sort_order>
                <model>GraphCommerce\Metapack\Model\Carrier\MetapackPickup</model>
            </metapackpickup>
        </carriers>
    </default>
</config>
